body{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
}
article.outer-border{
    height: 360px;
    width: 360px;
    border: 3px solid black;
    margin-top: 50px;
}
article.middle-border{
    height: 340px;
    width: 340px;
    border: 10px solid lightgray;
}

article.inner-border{
    border: 10px solid whitesmoke ;
    border-top: 10px solid darkgrey;
    border-left: 10px solid darkgrey;
    height: 320px;
    width: 320px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}

div{
    box-sizing: border-box;
    /*margin: 0,0,0,0;*/
    height: 40px;
    width: 40px;
    background-color: darkgrey;
    border-right: 2px dotted black;
    border-bottom: 2px dotted black;
    color: brown;
    /*  max-width:100%;
     max-height:100%; */
    /*border-block-color: black;*/
}

div img{
   
    max-width:100%;
    max-height:100%;
}

div.closed-box{

   /*  height: 40px;
    width: 40px; */
    background-color: darkgray;
    box-shadow: inset -4px -4px lightgray;
    box-shadow: inset 4px 4px white; /*not working, to be solved*/
    border: 2px solid black;
    

}

.closed-box:hover{

    background-color: darkgrey;
    box-shadow: none;
}
/* .box{
    text-align: center;
    
} */